.screenPositioner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(109, 109, 109, 0.6);
}

.contentContainer {
  width: 700px;
  background-color: black;
  border: #999;
  box-shadow: 1px 1px 7px #555;
  padding: 40px 35px 20px 35px;
  box-sizing: border-box;
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
}

.times {
  width: 25px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
}



@media (max-width: 800px) {
  .contentContainer {
    width: 100vw;
  }
}

@media (max-width: 460px) {
  .screenPositioner {
    width: 100%;
  }
}
